.App {
  height: 100%;
  
}
.com_flex {
  display: flex;
}
.com_px_16{
  padding: 0 16px;
}

.com_items_center {
  align-items: center;
}

.com_justify_center {
  justify-content: center;
}

.com_justify_between {
  justify-content: space-between;
}

.com_flex_Wrap {
  flex-wrap: wrap;
}